* { box-sizing: border-box; }

#titulo {
    text-align: center;
    color: aquamarine;
}
#center {
    width: 1120px;
    height: 1100px;
    border: thin solid black;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.preguntas {
    background-color: #f5f5f5;
    width: 100%;
    height: 16em;
    text-align: center;
    padding: 1em;
}

.preguntas2 {
    background-color:white;
    width: 100%;
    height: 16em;
    text-align: center;
    padding: 1em;
}

.respuesta {
    display: grid;
    grid-column-gap: 10em;
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: white;
    margin-bottom: 1em;
}

.respuesta2 {
    display: grid;
    grid-column-gap: 10em;
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: #f5f5f5;
    margin-bottom: 1em;
}

.verde {
    background-color: #09ff00;
}

.rojo {
    background-color: red;
}
#selecion {
    background-color: #f5f5f5;
    width: 100%;
    height: 16em;
    text-align: center;
    padding: 1em;
}

.draggable { 
    width: 150px; 
    height: 40px; 
    padding: 0.5em; 
    float: left; 
    margin: 10px 10px 10px 0; 
    top: 1em;
    left: 16em;
    font-size: larger;
    text-align: center;
    
}

#droppable { 
    width: 160px; 
    padding: 0.2em; 
    float: left; 
    margin: 10px; 
    position: absolute;
    top: 34.5em;
    left: 31.5em;
    text-align: center;
    
}

#droppable p {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
}

#select {
    background-color:white;
    width: 100%;
    height: 22em;
    text-align: center;
    padding: 1em;
}

#speed {
    position: absolute;
    top: 52.5em;
    left: 55em;
    height: 2em;
    font-size: medium;
}

#speed2 {
    position: absolute;
    top: 58.2em;
    left: 55em;
    height: 2em;
    font-size: medium;
}

#speed3 {
    position: absolute;
    top: 64em;
    left: 55em;
    height: 2em;
    font-size: medium;
}

.preguntaselect {
    padding: 1.5em;
    width: 75%;
    text-align: left;
}

